@use "./scss/borders.scss" as *;
@use "./scss/media.scss" as *;

/** CORE **/

a {
  color: whitesmoke;
}

a:hover {
  color: blue;
  cursor: pointer;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html,
body,
.component {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: "Futura", Arial, sans-serif;
}

button:hover {
  cursor: pointer;
  background-color: black;
  border: 1.5px blue solid;
}

button {
  width: 100px;
  padding: 10px;
  background-color: #362f2a;
  color: rgb(255, 255, 136);
  font-weight: bold;
  border-radius: 20px;
  border: 1.5px solid #362f2a;
}

body {
  background-color: #c28335;
  overflow: hidden;
  @include media(1080px) {
    overflow: unset;
  }
}

h1 {
  letter-spacing: 10px;
}

/** CORE **/

.cssStandardBorder {
  border: 5px solid rgb(0, 0, 0, 0.5);
  box-sizing: border-box;
  border-radius: 30px;
  overflow: scroll;
}

.main-menu {
  z-index: 10;
  position: relative;
  margin: 30px;
  width: 30%;
}

.theme-box {
  color: black;
  background-color: rgb(0, 0, 0, 0.5);
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
}

.spotli {
  position: relative;
  width: 30%;
}

.spotliContainer {
  display: flex;
  justify-content: center;
  gap: 5%;
}
.spotli:hover {
  cursor: pointer;
}

/** PAGES **/

.page {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  overflow: auto;
}

.artwork:hover {
  cursor: pointer;
}
