@use "./scss/borders.scss" as *;
@use "./scss/media.scss" as *;

/** CORE **/

a {
  color: whitesmoke;
}

a:hover {
  color: blue;
  cursor: pointer;
}

html,
body,
#root {
  height: 100vh;
  width: 100%;
}

html,
body,
.component {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: "Futura", Arial, sans-serif;
  overflow: scroll;
}

button:hover {
  cursor: pointer;
  background-color: black;
  border: 1.5px rgb(2, 236, 236) solid;
}

.root-dork {
  overflow: scroll;
}

button {
  width: 100px;
  padding: 10px;
  background-color: #362f2a;
  color: rgb(255, 255, 136);
  font-weight: bold;
  border-radius: 20px;
  border: 1.5px solid #362f2a;
}

body {
  background-color: #c28335;

  @include media(1080px) {
    overflow: unset;
  }
}

h1 {
  letter-spacing: 10px;
  font-size: 4rem;
}
h2 {
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
  @include mediaMin(1080px) {
    font-size: 1.6rem;
  }
}

/** CORE **/

.carousel {
  width: 100%;
  height: 100%;
  position: relative;
  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    @include media(820px) {
      object-fit: contain;
    }
  }
  &__button {
    height: 100px;
    z-index: 10;
    font-size: 30px;
    @include media(820px) {
      height: unset;
      max-height: 100%;
      width: unset;
      border-radius: 0;
      justify-items: center;
    }
    &--left {
      position: absolute;
      bottom: 0%;
      @include media(820px) {
        bottom: 3%;
      }
    }
    &--right {
      position: absolute;
      bottom: 0%;
      transform: translate(-100%, 0%);
      @include media(820px) {
        bottom: 3%;
      }
    }
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  @include media(820px) {
    position: fixed;
    z-index: 100;
    padding: 5px;
    background-color: #362f2a;
    width: 100%;
  }
  &__container {
    &--left {
      display: flex;
      position: relative;
      align-items: center;
      gap: 30px;
      margin-left: 55px;
    }
  }
  &__icon:hover {
    cursor: pointer;
  }
  &__icon {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    z-index: 100;
    @include media(820px) {
      width: 50px;
      height: 50px;
    }

    &--snoozy:hover {
      cursor: unset;
    }
    &--mob:hover {
      @include media(820px) {
        cursor: unset;
        pointer-events: none;
      }
    }
    &--2d {
      @include media(820px) {
        display: none;
      }
    }
    &--burg {
      transition: transform 0.8s ease;
      transform: rotate(0deg);
      display: none;
      box-sizing: border-box;
      margin-right: 50px;
      width: 50px;
      z-index: 100;

      @include media(820px) {
        display: block;
        width: 40px;
      }
    }
    &--burg.turn {
      transform: rotate(90deg);
    }
    &--burg:hover {
      cursor: pointer;
    }
  }
}

.burg-menu {
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // align-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 50px;
  z-index: 98;
  background-color: black;
  transform: translate(-50%, -50%);
}

.theme-box {
  color: black;
  padding-right: 40px;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  gap: 20px;
  box-sizing: border-box;
  @include media(820px) {
    padding: 10px;
  }
  &__button {
    width: 50px;
    height: 50px;
    @include media(820px) {
      width: 30px;
      height: 30px;
    }
  }
}

.main-menu {
  z-index: 10;
  position: relative;
  margin: 30px;
  padding-left: 40px;
  width: 30%;
  @include media(820px) {
    display: none;
  }
}

.spotliContainer {
  display: flex;
  z-index: 99;
  flex-direction: row;
  gap: 60px;
  padding: 30px;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: #362f2a;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  overflow: auto;
  @include media(820px) {
    flex-direction: column;
    gap: 40px;
  }

  &__spotli {
    position: relative;
    max-width: 60%;
    max-height: 80%;
    padding: 30px;
    object-fit: contain;
    border: solid 10px black;
    background-color: black;

    @include media(820px) {
      width: 80%;
      top: 200px;
    }
  }
  &__spotli:hover {
    cursor: pointer;
  }
}

.spotliCopyContainer {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  padding: 30px;
  @include media(820px) {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  &__copy {
    font-size: 2rem;
  }
  &__button {
    font-size: 1.5rem;
    width: 100px;
  }
}

.reg-heading {
  display: none;
  @include media(820px) {
    display: block;
    text-align: center;
  }
}

.vertical-heading {
  font-size: 40px;
  text-align: center;
  padding: 30px;
  @include media(820px) {
    display: none;
  }
}

.vertical-heading-large {
  font-size: 70px !important;
}

/** PAGES **/

.page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 50;
  a:hover {
    color: #34c0c2;
  }
}

.home {
  display: flex;
}

.mobile-pages {
  display: none;

  @include media(820px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.about {
  position: relative;
  margin: 50px;
  padding: 50px;
  box-sizing: border-box;
  @include media(820px) {
    top: 20px;
  }

  &__article {
    display: flex;
    position: relative;
    gap: 10px;
    width: 90%;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 30px;
    background-color: rgba(54, 47, 42, 0.9);
    @include media(820px) {
      flex-direction: column;
      display: block;
      width: 90%;
    }
  }
}

.about-box-carousel {
  display: flex;
  height: 600px;
  margin-bottom: 30px;
  @include media(820px) {
    height: 200%;
    flex-wrap: wrap;
  }
}

.contact {
  background-color: rgb(54, 47, 42, 0.8);
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 100px;
  margin: 50px;
  &__heading {
    font-size: 3rem;
  }
}

.contact-link-container {
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  align-content: center;
  gap: 40px;
}

.artworkPage {
  padding: 50px;
  &__heading {
    text-align: center;
  }
  &__copy {
    padding: 30px;
    background-color: rgb(54, 47, 42, 0.8);
  }
}

.artwork:hover {
  cursor: pointer;
}

.shop-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.shop {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  gap: 20px;
  padding: 50px;
  justify-content: center;
  flex-wrap: wrap;
  &__heading {
    width: 75%;
    text-align: center;
  }
  &__copy {
    width: 75%;
    padding: 30px;
    background-color: rgb(54, 47, 42, 0.8);
  }
}

.shop-item {
  display: flex;
  background-color: teal;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  height: 500px;
  min-width: 350px;
  padding: 0 30px 30px 30px;
  max-width: 40%;
  overflow: hidden;
  text-align: center;
  @include media(820px) {
    max-width: 80%;
    height: 550px;
    padding: 0;
  }
  &__heading {
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  &__heading:hover {
    cursor: pointer;
  }
  &__image-box {
    min-width: 400px;
    max-width: 600px;
    min-height: 300px;
    max-height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: whitesmoke;
  }
  &__image-box:hover {
    cursor: pointer;
  }
  &__button {
    display: flex;
    font-size: 1.6rem;
    padding: 20px;
    color: whitesmoke;

    background-color: #362f2a;
    border: solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    &--buy {
      color: gold;
    }
  }
  &__button:hover {
    border: 1.5px rgb(2, 236, 236) solid;
    color: rgb(0, 210, 210);
  }
}

.shop-highlight {
  position: fixed;
  z-index: 101;
  background-color: black;
  width: 50%;
  border-radius: 20px;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: scroll;
  padding: 40px;
  flex-direction: column;
  align-items: center;

  &__image {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
  }

  &__description {
    text-align: left;
    white-space: pre-line;
  }
}

.button-flex-box {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
}

.lore {
  position: relative;
  padding: 50px;
  overflow: hidden;
  @include media(820px) {
    background-color: rgba(0, 0, 0, 0.5);
  }

  &__quote {
    margin: 30px;
    font-size: 40px;
    @include mediaMin(1920px) {
      font-size: 50px;
    }
  }

  &__article {
    display: flex;
    padding: 20px;
    margin: 30px;
    background-color: rgba(54, 47, 42, 0.9);
    @include media(820px) {
      flex-direction: column;
    }
  }
}
.webSized {
  @include media(820px) {
    display: none;
  }
}

.phoneSized {
  @include media(820px) {
    justify-self: unset;
    height: 700px;
    width: 90%;
    canvas {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

/**TRANSITIONS**/

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 800ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease;
}

.opacityTransition {
  transition: opacity 1s ease;
}

// canvas:focus {
//   outline: none;
// }

/**BACKGROUND**/

.background-file {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  object-fit: cover;
}

canvas {
  z-index: 1;
}

/**MODIFIERS**/

.darkText {
  color: #362f2a;
  a {
    color: #362f2a;
  }
  a:hover {
    color: #106f71;
  }
}

.cssStandardBorder {
  border: 5px solid teal;
  box-sizing: border-box;
  border-radius: 30px;
  overflow: scroll;
  max-width: 100%;
  object-fit: contain;
}

.cssStandardBg {
  background-color: rgb(54, 47, 42, 0.8);
}
