@use "./scss/borders.scss" as *;
@use "./scss/media.scss" as *;

/** CORE **/

a {
  color: whitesmoke;
}

a:hover {
  color: blue;
  cursor: pointer;
}

html,
body,
#root {
  height: 100vh;
  width: 100%;
}

html,
body,
.component {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: "Futura", Arial, sans-serif;
}

button:hover {
  cursor: pointer;
  background-color: black;
  border: 1.5px blue solid;
}

button {
  width: 100px;
  padding: 10px;
  background-color: #362f2a;
  color: rgb(255, 255, 136);
  font-weight: bold;
  border-radius: 20px;
  border: 1.5px solid #362f2a;
}

body {
  background-color: #c28335;

  @include media(1080px) {
    overflow: unset;
  }
}

h1 {
  letter-spacing: 10px;
}

/** CORE **/

.cssStandardBorder {
  border: 5px solid teal;
  box-sizing: border-box;
  border-radius: 30px;
  overflow: scroll;
  max-width: 100%;
  object-fit: contain;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  @include media(1080px) {
    margin-top: 40px;
  }
  &__container {
    &--left {
      display: flex;
      position: relative;
      align-items: center;
      gap: 30px;
      margin-left: 55px;
      @include media(1080px) {
        margin-left: 55px;
      }
    }
  }
  &__icon {
    box-sizing: border-box;
    width: 70px;
    height: 70px;
    @include media(820px) {
      width: 50px;
      height: 50px;
    }
    &--burg {
      display: none;
      box-sizing: border-box;
      margin-right: 50px;
      width: 50px;
      burg:hover {
        cursor: pointer;
      }
      @include media(1080px) {
        display: block;
        width: 40px;
      }
    }
  }
}

.theme-box {
  color: black;
  padding-right: 40px;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  gap: 20px;
  box-sizing: border-box;
  @include media(820px) {
    padding: 10px;
  }
  &__button {
    width: 50px;
    height: 50px;
    @include media(820px) {
      width: 30px;
      height: 30px;
    }
  }
}

.main-menu {
  z-index: 10;
  position: relative;
  margin: 30px;
  width: 30%;
  @include media(820px) {
    display: none;
  }
}

.spotliContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  width: 100%;

  &__spotli {
    position: relative;
    width: 900px;
    @include media(820px) {
      width: 80%;
    }

    margin: 0;
    padding: auto;
  }
  &__spotli:hover {
    cursor: pointer;
  }
}

/** PAGES **/

.page {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  overflow: auto;
  z-index: 100;
}

.about {
  position: relative;
  margin: 50px;
  box-sizing: border-boxf;
  &__article {
    display: flex;
    position: relative;
    top: 50%;
    transform: translate(-0%, -50%);
    gap: 10px;
    width: 70%;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    padding: 30px;
  }
}

.artworkPage {
  padding: 50px;
}

.artwork:hover {
  cursor: pointer;
}

.lore {
  position: relative;
  top: 30px;
  overflow: hidden;

  &__article {
    display: flex;
    padding: 20px;
    margin: 30px;
  }
}

/**TRANSITION**/

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 800ms ease;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms ease;
}
