@use "./scss/borders.scss" as *;
@use "./scss/media.scss" as *;

/** CORE **/

a {
  color: whitesmoke;
}

a:hover {
  color: blue;
  cursor: pointer;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

html,
body,
.component {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  font-family: "Futura", Arial, sans-serif;
}

button:hover {
  cursor: pointer;
  background-color: black;
  border: 1.5px blue solid;
}

button {
  width: 100px;
  padding: 5px;
  background-color: #362f2a;
  color: rgb(255, 255, 136);
  font-weight: bold;
  border-radius: 10%;
  border: none;
}

body {
  background-color: #c28335;
  overflow: hidden;
}

/** CORE **/

.spotli {
  position: relative;
  width: 50%;
}
.spotli:hover {
  cursor: pointer;
}

/** PAGES **/

.artwork:hover {
  cursor: pointer;
}
